<!DOCTYPE html>
<html lang="en">
<head>
    <title>CookingMeow</title>
    <link rel="icon" type = "image/png" href = "https://i.imgur.com/ietaz6s.png">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/" class="header item"><img class="ui avatar image" src="https://i.imgur.com/ietaz6s.png">CookingMeow</a>              
        </div>
            <p>
                <form action="/recipes" method="GET">
                    <div class="ui action input focus">
                        <input type="text" name="search" placeholder="Cari resipi(ayam, ikan...)">
                        <button type="submit" class="ui button"><i class="search icon"></i></button>
                      </div>

                </form>
            </p>
        </div>
    </div>       
    
        

